.container {
    max-width: 480px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  
    //  outline: 2px solid blue;
     outline-offset: -2px;
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  .addEasy {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
