.header {
    padding-top: 20px;
    padding-bottom: 40px;
}

.header-logo {
    font-size: 60px;
    text-align: center;
    font-weight: 800;

    box-shadow: 0 8px 25px #03a7ffe0;
}

.header-level {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 10px;
    margin: auto;

    @media screen and (min-width: 780px) {
        padding-left: 300px;
    }
}

.monneyTogether {
    display: flex;
    @media screen and (min-width: 780px) {
        padding-left: 300px;
        padding-right: 300px;
    }
}