.header {
    padding-top: 20px;
    padding-bottom: 40px;
}

.header-logo {
    font-size: 100px;
    text-align: center;
    font-weight: 600px;
    font-family: 'Caveat';
    line-height: 0.9;
}

.header-level {
    display: flex;
    justify-content: space-between;
    background-color: #a8b89d;
    padding: 10px;
    margin: auto;
        height: 60px;
    @media screen and (min-width: 780px) {
        padding-left: 300px;
    }
}

.monneyTogether {
    display: flex;
    @media screen and (min-width: 780px) {
        padding-right: 300px;
    }
}

.tuk {
    position: absolute;
    right: 1%;
    top: -75px;
    
        animation-name: tuk;
        animation-duration: 0.3s;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      
      
 
}
@keyframes tuk {
    0% {
      transform: scale(30deg);
    }
  
    100% {
        transform: scale(1.1) rotate(0);
    }
  }