.logoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
    @media screen and (min-width: 780px) {
       
    }

    & li {
        background-color: white;
        position: relative;


    }

}

.check {
    position: absolute;
    right: 0;
    top: 0;
}

.logoInput  {

    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    & img {
        height: 350px;
        width: 400px;
    }
    
    & p {
        font-size: 30px;
        background-color: rgb(225, 214, 185);
        padding: 10px;
        border-radius: 30px;
        margin-top: 30px;
    }
}

.inputClass {
    margin-top: 30px;
    font-size: 32px;
}

.btn-answer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;

    &:hover {
        color: #e3ad40;   
    }
}