.levels {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 15px;
    width: 500px;
    color: white;
    background-color: rgb(116, 243, 99);
    border-radius: 20;

    text-align: center;

    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .04em;

    transform: scale(1);
    &:hover {
        transform: scale(1.04);
        transition: transform .25s linear;
        color: #e3ad40;
    }
    & li {
        margin-bottom: 5px;
    }
}

.back-btn {
    font-size: 20px;
    font-weight: 900px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;

    &:hover {
        color: #e3ad40;
    }
}

.back-btn-ref {
    left: 28%;
    top: -1%;
    position: absolute;
    font-size: 20px;
    font-weight: 900px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;

    &:hover {
        color: #e3ad40;   
    }
}