.levels {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 15px;
    color: opacity($color: #c4c3c300);
    background-color: rgb(116, 243, 99);
    border-radius: 20;

    text-align: center;

    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .04em;


    &:hover {
        background-color: rgb(90, 188, 77);
        color: #e3ad40;
    }
    & li {
        margin-bottom: 5px;
    }
}

.back-btn {
    font-size: 30px;
    font-weight: 900px;
    background-color: #f2fffe;
    border-radius: 10px;
    padding: 5px;
    &:hover {
        color: #e3ad40;
    }
}

.back-btn-ref {
    padding: 5;
    font-size: 30px;
    font-weight: 900px;
    border-radius: 10px;
    background-color: #f2fffe;

    &:hover {
        color: #e3ad40;   
    }
}