.logoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    @media screen and (min-width: 780px) {
       
    }

    & li {
        background-color: white;
        position: relative;

        
    }

}
.imgList {
    @media screen and (max-width: 480px) {
        width: 150px;
    }
}

.check {
    position: absolute;
    right: 0;
    top: 0;
}

.logoInput  {

    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    & img {

        @media screen and  (min-width: 980px) {
            height: 300;
            width: 350;
        }
    }
    
    & p {
        font-size: 15px;
        background-color: white;
        padding: 10px;
        border-radius: 30px;
        margin-top: 30px;
        text-align: center;

        @media screen and  (min-width: 980px) {
           font-size: 30px;
        }
    }
}

.inputClass {
    margin-top: 30px;
    font-size: 32px;
}

.btn-answer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900px;
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;

    &:hover {
        color: #e3ad40;   
    }
}
.inputCub {
    width: 30px;
    background-color: aquamarine;
    text-align: center;
    margin-right: 5px;
}

.inputClass {
    display: flex;
}

.word {
    margin-top: 20px;
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
}

