.levels {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 15px;
    color: opacity($color: #c4c3c300);
    background-color: rgb(116, 243, 99);
    border-radius: 20;

    text-align: center;

    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: .04em;


    &:hover {
        background-color: rgb(90, 188, 77);
        color: #e3ad40;
    }
    & li {
        margin-bottom: 5px;
    }
}

.back-btn {
    font-size: 40px;
    font-weight: 900px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;

    &:hover {
        color: #e3ad40;
    }
}

.back-btn-ref {
    left: 75%;
    top: -1%;
    position: absolute;
    font-size: 35px;
    font-weight: 900px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;

    &:hover {
        color: #e3ad40;   
    }
}